<!DOCTYPE html>
<html>

	<head th:replace="~{fragments :: page_head('Drinkme')}" />
	
	<body>
		
 
		
		<div class="container mt-5">
        <h1 class="mb-4 display-4 text-center font-italic">Listino Prezzi</h1>
			<div class="card" th:each="categoria : ${listCategories}">
		  	  <button class="btn btn-custom btn-outline-custom" type="button" data-toggle="collapse" th:data-target="'#collapse-' + ${categoria.id}">
		 	       <span class="fw-bold custom-text-size" th:text="${categoria.name}"></span>
			    </button>
				<div th:id="'collapse-' + ${categoria.id}" class="collapse collapse-content">
        			<ul th:each="prodotto : ${listProducts}" th:if="${prodotto.category.id == categoria.id}">
       		     		<li>
							<span> - </span>
							<span class="custom-text-size" th:text="${prodotto.name}"></span>
                        	<span> - </span>
                        	<span class="custom-text-size" th:text="${prodotto.price}"></span>
                        	<span class="custom-text-size">€</span> 
       		 		</ul>
   			 	</div>
			</div>


	<div th:replace="~{fragments :: footer}"></div>
	
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>