<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

	<head th:replace="~{fragments :: page_head(${pageTitle})}" />	

	
	<body>
		<div class="container-fluid">
			<div th:replace="~{navigation :: menu}"></div>

			
			<div class="m-3">
				<h1>Gestione Prodotto | [[${pageTitle}]] </h1>
			</div>
			
			<form th:action="@{/prodotti/salva}" method="post" 
				onsubmit="return checkProductUnique(this)" th:object="${product}">
				<input type="hidden" th:field="*{id}" />
			<div>	
				<!-- Nav tabs -->
				<ul class="nav nav-tabs" id="myTab" role="tablist">
				  <li class="nav-item">
				    <a class="nav-link active"  data-toggle="tab" href="#overview" role="tab">Overview</a>
				  </li>
				  <li class="nav-item">
				    <a class="nav-link"  data-toggle="tab" href="#details" role="tab">Details</a>
				  </li>
				</ul>
				
				<!-- Tab panes -->
				<div class="tab-content">
				  <div class="tab-pane active p-3" id="overview" role="tabpanel">
					  <div th:replace="~{prodotti/overview_prodotto :: content}"></div>
				  </div>
				  <div class="tab-pane active p-3" id="details" role="tabpanel">
					  <div th:replace="~{prodotti/details_prodotto :: content}"></div>
				  </div>
				</div>
			</div>
			
			
			<div class="text-center">
				<input type="submit" value="Salva" class="btn btn-primary m-3" />
				<input type="button" value="Cancella" class="btn btn-secondary" id="buttonCancel" />
			</div>
			
			</form>
			
			<div class="modal fade text-center" id="modalDialog">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="modalTitle">Attenzione</h4>
							<button type="button" class="close" data-dismiss="modal">&times;</button>
						</div>
						
						<div class="modal-body">
							<span id="modalBody"></span>
						</div>
						
						<div class="modal-footer">
							<button type="button" class="btn btn-danger" data-dismiss="modal">Chiudi</button>
						</div>
					</div>
				</div>
			</div>
			
			<div th:replace="~{fragments :: footer}"></div>

		</div>
		
<script type="text/javascript">
	//moduleURL = "[[@{/prodotti}]]";
	
	$(document).ready(function() {
		$("#buttonCancel").on("click", function(){
			window.location = "[[@{/prodotti}]]";
		});
	});
	
	function checkProductUnique(form) {
		url="[[@{/prodotti/check_unique}]]";
		productName = $("#name").val();
		productId = $("#id").val();
		
		csrfValue = $("input[name='_csrf']").val();
		
		params = {id: productId, name: productName, _csrf: csrfValue};
			
		$.post(url, params, function(response) {
			if(response == "OK") {
				form.submit();
			} else if(response == "Duplicate Name") {
				showModalDialog("Attenzione", "Prodotto gia inserito");
			} else {
				showModalDialog("Errore", "Errore sconosciuto");
			}
		}).fail(function() {
			showModalDialog("Errore", "Process failed");
		});
				
		return false;
	}

		
	function showModalDialog(title, message) {
		$("#modalTitle").text(title);
		$("#modalBody").text(message);
		$("#modalDialog").modal();
	};
		
		
</script>

	</body>
	

</html>